---
import Layout from '~/layouts/PageLayout.astro';
import HeroText from '~/components/widgets/HeroText.astro';
import Content from '~/components/widgets/Content.astro';

const metadata = {
  title: '关于',
};
---

<Layout metadata={metadata}>
  <HeroText tagline="关于我" title="MJ-CJM" />

  <Content
    items={[
      { title: '背景', description: '南京邮电大学，研究方向为边缘计算与云计算。' },
      { title: '技术栈', description: 'Kubernetes、Docker、Go、云原生技术栈。' },
      { title: '座右铭', description: 'Just do it.' },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>
</Layout>
